<h1>About Us</h1>
<div class="row my-5">
  <div class="col-12">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">DJA Motors</h3>

        <p class="card-text">We are a company 10 years of experience in the automotive market, 
          which allows us to provide you with security, confidence and the best advice from our profess
          ionals who work under the value of transparency for the purchase and sale of your Premium vehicle. Our co
          llaborators have extensive experience and certification in the sale of new vehicles. Our main goal is to offer you the best service, 
          price and guarantees for the purchase of your new vehicle, 
          generating an experience of satisfaction at the highest level.</p>

        <img
          src="/images/img1.jpg"
          class="img-fluid"
          alt="A simple car"
          width="800px"
        />

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-5">
    <div class="card-body text-center">
        <h3 class="card-title">Our Client's Satisfaction Levels:</h3>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="96"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 96%"
      >96%</div>
    </div>
  </div>
</div>