<div class="row">
  <div class="col-12 col-sm-12">
    <div
      id="carouselExampleCaptions"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="width:100%">
        <div class="carousel-item active">
          <img src="/images/car4.jpg" class="d-block w-100" alt="Audi" />
        </div>
        <div class="carousel-item">
          <img src="/images/car3.jpg" class="d-block w-100" alt="Ferrari" />
        </div>
        <div class="carousel-item">
          <img src="/images/car6.jpg" class="d-block w-100" alt="Porsche" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12 col-sm-12">
    <div class="jumbotron my-jumbotron">
      <h1 class="display-4">DJA Motors
        <img
          src="/images/car7.png"
          alt="DJA Motors Logo"
          height="70px"
          width="70px"
          class="d-inline-block align-top"
        /></h1>
      <p class="lead">Una empresa costarricense enfocada en la
        <strong>venta y distribuci칩n de carros de lujo</strong>, cont치ctenos
        para obtener m치s informaci칩n.</p>
      <hr class="my-4" />
      <a href="/about" class="btn btn-primary">About Us</a>
    </div>
  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col-12 mb-3 col-lg-4 justify-content-center">
    <div
      class="card-columns-12 mx-auto justify-content-center"
      style="width: 18rem;"
    >
      <img
        class="card-img-top"
        src="/images/budget.png"
        alt="budget tag icon"
        width="10px"
      />
      <div class="card-body">
        <h5 class="card-title">El Mejor Financiamiento!</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3 col-lg-4">
    <div
      class="card-columns-12 mx-auto justify-content-center"
      style="width: 18rem;"
    >
      <img
        class="card-img-top"
        src="/images/shield.png"
        alt="shield tag icon"
        width="10px"
      />
      <div class="card-body">
        <h5 class="card-title">La Mayor Seguridad!</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>

      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div
      class="card-columns-12 mx-auto justify-content-center"
      style="width: 18rem;"
    >
      <img
        class="card-img-top"
        src="/images/price-tag.png"
        alt="price tag icon"
        width="10px"
      />
      <div class="card-body">
        <h5 class="card-title">Los Mejores Precios!</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>

      </div>
    </div>
  </div>
</div>